@use "../../02-variables/palette-mixins";

.cms-data-panel{

  position: absolute;
  width: 100%;
  height: 100%;
  background: palette-mixins.$ldNeutral-080;

  #nested-levels-tags-holder{
    position: sticky;
    top:0;
    width: calc(100% - 4rem);
    height: 30px;
    margin-left: .5rem;
    z-index: 10;
    background: palette-mixins.$ldNeutral-080;

    button{
      position: relative;
      top:4px;
      width: 8.5px;
      margin-left: 1rem;
      //height: 30px;
      svg{
        opacity: .5;
        path{
          fill: palette-mixins.$ldPrimary-900;
        }
      }

      &.selected{
        svg{
          opacity: .8;
        }
      }

    }


  }
}
